In [15]:
import pandas as pd

## 2017

In [16]:
df_2017 = pd.read_excel("./CelularesSubtraidos_2017.xlsx", engine="calamine")

In [17]:
df_2017.shape

(521711, 46)

In [18]:
df_2017.columns

Index(['ID_DELEGACIA', 'NOME_DEPARTAMENTO', 'NOME_SECCIONAL', 'NOME_DELEGACIA',
       'NOME_MUNICIPIO', 'ANO_BO', 'NUM_BO', 'NOME_DEPARTAMENTO_CIRC',
       'NOME_SECCIONAL_CIRC', 'NOME_DELEGACIA_CIRC', 'NOME_MUNICIPIO_CIRC',
       'DATA_OCORRENCIA_BO', 'HORA_OCORRENCIA', 'DESCRICAO_APRESENTACAO',
       'DATAHORA_REGISTRO_BO', 'DATA_COMUNICACAO_BO', 'DATAHORA_IMPRESSAO_BO',
       'DESCR_PERIODO', 'AUTORIA_BO', 'FLAG_INTOLERANCIA', 'TIPO_INTOLERANCIA',
       'FLAG_FLAGRANTE', 'FLAG_STATUS', 'DESC_LEI', 'RUBRICA', 'DESCR_CONDUTA',
       'DESDOBRAMENTO', 'CIRCUNSTANCIA', 'DESCR_TIPOLOCAL',
       'DESCR_SUBTIPOLOCAL', 'CIDADE', 'BAIRRO', 'CEP', 'LOGRADOURO',
       'NUMERO_LOGRADOURO', 'LATITUDE', 'LONGITUDE', 'CONT_OBJETO',
       'DESCR_MODO_OBJETO', 'DESCR_TIPO_OBJETO', 'DESCR_SUBTIPO_OBJETO',
       'DESCR_UNIDADE', 'QUANTIDADE_OBJETO', 'MARCA_OBJETO', 'MES', 'ANO'],
      dtype='object')

In [19]:
df_2017["LATITUDE"].isna().mean()

0.0711754208747755

In [20]:
df_2017_no_na = df_2017.dropna(subset=["LATITUDE", "LONGITUDE"])
df_2017_no_na.shape

(484578, 46)

## 2018

In [21]:
df_2018 = pd.read_excel("./CelularesSubtraidos_2018.xlsx", engine="calamine")

In [22]:
df_2018.shape

(493586, 46)

In [23]:
df_2018.columns

Index(['ID_DELEGACIA', 'NOME_DEPARTAMENTO', 'NOME_SECCIONAL', 'NOME_DELEGACIA',
       'NOME_MUNICIPIO', 'ANO_BO', 'NUM_BO', 'NOME_DEPARTAMENTO_CIRC',
       'NOME_SECCIONAL_CIRC', 'NOME_DELEGACIA_CIRC', 'NOME_MUNICIPIO_CIRC',
       'DATA_OCORRENCIA_BO', 'HORA_OCORRENCIA', 'DESCRICAO_APRESENTACAO',
       'DATAHORA_REGISTRO_BO', 'DATA_COMUNICACAO_BO', 'DATAHORA_IMPRESSAO_BO',
       'DESCR_PERIODO', 'AUTORIA_BO', 'FLAG_INTOLERANCIA', 'TIPO_INTOLERANCIA',
       'FLAG_FLAGRANTE', 'FLAG_STATUS', 'DESC_LEI', 'RUBRICA', 'DESCR_CONDUTA',
       'DESDOBRAMENTO', 'CIRCUNSTANCIA', 'DESCR_TIPOLOCAL',
       'DESCR_SUBTIPOLOCAL', 'CIDADE', 'BAIRRO', 'CEP', 'LOGRADOURO',
       'NUMERO_LOGRADOURO', 'LATITUDE', 'LONGITUDE', 'CONT_OBJETO',
       'DESCR_MODO_OBJETO', 'DESCR_TIPO_OBJETO', 'DESCR_SUBTIPO_OBJETO',
       'DESCR_UNIDADE', 'QUANTIDADE_OBJETO', 'MARCA_OBJETO', 'MES', 'ANO'],
      dtype='object')

In [24]:
df_2018["LATITUDE"].isna().mean()

0.14480353980866556

In [25]:
df_2018_no_na = df_2018.dropna(subset=["LATITUDE", "LONGITUDE"])
df_2018_no_na.shape

(422113, 46)

## Merge and Clean

In [26]:
set(df_2017_no_na.columns) == set(df_2018_no_na.columns)

True

In [27]:
df_merged = pd.concat([df_2017_no_na, df_2018_no_na], ignore_index=True)

In [44]:
cond = (df_merged["LATITUDE"] == 0) | (df_merged["LONGITUDE"] == 0)
sum(cond)

95599

In [49]:
df_cleaned = df_merged[~cond]

In [51]:
df_merged.shape, df_cleaned.shape, len(df_cleaned) / len(df_merged)

((906691, 46), (811092, 46), 0.8945627562201456)

In [52]:
df_cleaned["ANO"].value_counts()

ANO
2017    432273
2018    378819
Name: count, dtype: int64

## Save cleaned crime data for 2017-2018

In [53]:
df_final = df_cleaned[["LATITUDE", "LONGITUDE"]]

In [54]:
df_final.shape

(811092, 2)

In [55]:
df_final.head()

    LATITUDE  LONGITUDE
0 -23.554755 -46.635399
1 -23.549468 -46.633153
2 -23.540564 -46.629574
3 -23.550556 -46.634343
4 -23.541647 -46.630016

In [56]:
df_final.to_csv("crime_2017-2018_clean.csv", index=False)